.container a {
    width: 15%;
    justify-content: center;
}

#search-bar {
    width: 20%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0 auto;
}

#title {
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
}